@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

@font-face {
	font-family: "Mono";
	src: local("Ubuntu Mono"), url("/css/ubuntu-mono.ttf");
}

* {
	margin: 0;
	padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Flexible layout
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body > header {
	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	-webkit-flex-wrap: wrap;

	justify-content: space-between;
	-webkit-justify-content: space-between;
}

#top_menu {
	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;
}

body > footer {
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	margin: auto;
}

div#contact {
	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: space-between;
	-webkit-justify-content: space-between;
}

/** Gradually drop nav menu text in favor of icons **/

@media (max-width: 370px) {
	#top_menu li:nth-child(1) .label {
		display: none;
	}
}

@media (max-width: 460px) {
	#top_menu li:nth-child(2) .label {
		display: none;
	}
}

@media (max-width: 540px) {
	#top_menu li:nth-child(3) .label {
		display: none;
	}
}

@media (max-width: 600px) {
	#top_menu li:nth-child(4) .label {
		display: none;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Common elements
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	max-width: 45em;
	margin: 0 auto;
	margin-bottom: .5em;

	color: #3a3a3a;
	background-color: #efefe6;
	font-size: 16.5px;
	font-family: "PT Serif", "Bitstream Charter", Georgia, serif;
	line-height: 1.5;
}

body > header {
	margin-bottom: 2.5em;
	overflow: hidden;
	padding-left: .5em;
}

body > header > h1 {
	margin-right: 1em;
	margin-bottom: .3em;
	padding-top: .2em;

	font-size: 1.5em;
}

body > header > h1 > a {
	color: #d60;
	font-family: "DejaVu Sans", sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-shadow: #dcb 1px 1px 1px;
}

#top_menu {
	list-style-type: none;
}

#top_menu li {
	margin-right: .3em;
	margin-bottom: .3em;
	padding: .35em .7em;

	background-color: #09b;
	background-image: url("/img/tile.png");
	background-repeat: repeat;

	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	border-radius: 0 0 .1em .1em;

	-moz-transition: background-color 300ms ease-out;
	-webkit-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
}

#top_menu li {
	min-width: 18px;
	overflow: hidden;
	text-align: center;
}

#top_menu li span {
	margin-left: .5em;
}

#top_menu li a {
	color: white;
	font-family: "DejaVu Sans", sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 3px #888;
}

#top_menu li:hover,
#top_menu li:focus {
	background-color: #00aaea;

	-moz-transition: background-color 300ms ease-out;
	-webkit-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
}

#top_menu li.active {
	background-image: -moz-linear-gradient(left, #d60 5px, rgba(251,132,0,0) 8px), url("/img/tile.png");
	background-image: -webkit-linear-gradient(left, #d60 5px, rgba(251,132,0,0) 8px), url("/img/tile.png");
	background-image: -o-linear-gradient(left, #d60 5px, rgba(251,132,0,0) 8px), url("/img/tile.png");
}

body > div.content {
	padding: 0 .5em;
}

body > div.content a {
	color: #3a3a3a;

	text-decoration: none;
	border-bottom: 1px dotted;
}

body > div.content a:hover {
    color: #357;
}

body > div.content h2 a,
body > div.content h3 a,
body > div.content h4 a,
body > div.content h5 a,
body > div.content h6 a {
   color: #357;
	border-bottom: none;
}

body > div.content h2 a:hover,
body > div.content h3 a:hover,
body > div.content h4 a:hover,
body > div.content h5 a:hover,
body > div.content h6 a:hover {
	border-bottom: 1px dotted;
}

body > div.content h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #357;
	text-shadow: #ccc 1px 1px 2px;
}

body > div.content h3, h4, h5, h6 {
	font-variant: small-caps;

	margin-top: 1em;
}

div.content p {
	margin-bottom: 1em;
	text-align: justify;
}

div.content li {
	margin-left: 1em;
	margin-bottom: .5em;
	list-style-type: none;
}

div.content li:before {
	content: '•';
	color: #09b;

	margin-left: -1em;
	margin-right: .5em;
}

body > footer {
	margin-top: 3em;

	color: #aaa;
	font-size: .9em;
	text-align: center;
}

body > footer span {
	font-size: 1.5em;
	margin-left: .2em;
	margin-right: .2em;
}

body > footer a {
	color: #357;

	text-decoration: none;
	border-bottom: 1px dotted;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Article
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

article header {
	margin-bottom: 1.5em;
}

article header time {
	color: #aaa;
}

article div.content h3 {
	margin-bottom: .5em;
}

article div.content code {
	font-family: "Mono", "Inconsolata", monospace;
}

div.content > p > code {
	padding: .1em .3em 0 .3em;

	border: 1px solid #ccc;
	border-radius: 2px;
	color: #666;
	background-color: #fafaf6;
}

pre {
	margin-bottom: 1em;
	padding: .5em;

	border: 1px solid #93a1a1;
	border-radius: 2px;

	background-color: #fdf6e3;
}

article div.content blockquote {
	margin-left: 1.5em;
	margin-right: 1.5em;

	color: #666;
}

article div.content img.inset {
	display: block;
	float: right;
	margin: 1em 0 1em 1em;
	max-width: 30%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Archives
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav#archives ul li {
	margin-left: 0;
	margin-bottom: .25em;
}

nav#archives ul li:before {
	content: none;

	margin-left: 0;
	margin-right: 0;
}

nav#archives ul time {
	display: block;
	float: left;
	width: 6em;

	margin-right: .5em;
	text-align: right;

	color: #aaa;
}

nav#archives h2 {
	position: relative;

	margin-bottom: .5em;
}

nav#archives h2 a {
	border: none;
	position: absolute;
	right: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Projects
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.content h2#projects {
	margin-bottom: .5em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * About
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.content h2#about {
	margin-bottom: .5em;
}

img[alt='My face'] {
	float: right;
	margin-top: .5em;
	margin-left: 2em;
	margin-bottom: 2em;
	width: 30%;
}
