<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Florent Marchand de Kerchove de Denterghem" />

    <title>{{ page.title }} &mdash; fmdkdd</title>

    <link rel="apple-touch-icon" href="/favicon.png" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="alternate" href="/atom.xml" type="application/atom+xml" />

    <link rel="stylesheet" href="/css/solarized.css" />
    <link rel="stylesheet" href="/css/screen.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>

    <header>
      <h1><a href="/">fmdkdd</a></h1>
      <nav id="top_menu">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <span>❧</span><span>❧</span><span>❧</span>
      <p>
        Florent Marchand de Kerchove de Denterghem<br />
        fmdkdd at gmail<br />
        <a href="http://github.com/fmdkdd/">github/fmdkdd</a>
      </p>
    </footer>

  </body>
</html>
